*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
body{
    margin: auto;
    padding: 200px;
    padding-top: 10px;
    text-align: center;
    color: aliceblue;
}